body{
  background-color: rgb(236, 231, 231);
}
.maindiv{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /* margin: 6em; */
  /* border: 2px solid rebeccapurple; */
  

}

mainform{
  /* border: 2px solid rebeccapurple; */
  display: flex;
  flex-direction: column;
}

.logo{
  /* border: 2px solid rebeccapurple; */
  margin-left: 10em;
margin-right: 10em;
}

.form{
  border-radius: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
align-items: center;
padding: 1em;
width: 20em;
/* height: 13vw; */
justify-content: space-between;
}